// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start
@import '../../node_modules/vuetify/src/stylus/settings/_colors'

// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition
